*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tips1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: white;
    
}

.tips1 img{
   max-width: 100%;
   height: auto;
   border-radius: 10px;
   margin-top:10px ;

}
.steps{
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }

.steps li {
    margin-bottom: 10px;
}
h4{
    text-decoration:underline;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-size: 20px;
    color: brown;
}